{% extends 'base.html' %}

{% block styles %}
{% endblock %}
{% block title %}
<a class="navbar-brand mr-1" href="{% url 'base:index' %}">
    <i class="fa fa-fw fa-home"></i>生活小幫手</a>
{% endblock %}
{% block left %}
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'base:index' %}">
                    <i class="fa fa-fw fa-home"></i>
                    <span>首頁</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'base:about' %}">
                    <i class="fa fa-fw fa-rocket"></i>
                    <span>關於</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'base:contact' %}">
                    <i class="fa fa-fw fa-phone"></i>
                    <span>聯絡</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-phone"></i>
                    <span>代辦事項</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-phone"></i>
                    <span>家計簿</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'food:index' %}">
                    <i class="fa fa-fw fa-phone"></i>
                    <span>健康資訊</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-phone"></i>
                    <span>運動管理</span></a>
            </li>
        </ul>
{% endblock %}

{% block body %}

<h1>Hello contant</h1>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{% endblock %}