{% extends 'base.html' %}

{% block styles %}
<style>
.word{
    height:300px;
    cursor: pointer;
}
.card{
    display:inline-block;
    margin:20px;
}
</style>
{% endblock %}

{% block left %}
{% include "./homeNav.html" %}
{% endblock %}


{% block main %}
<div class="card-body">
    <div class="card mb-3">
        <a href="{% url 'memo:index' %}"><img class="word" src="static/images/book.gif"></a>
    </div>
    <div class="card mb-3">
        <a href="{% url 'on_account:index' %}"><img class="word" src="static/images/money.gif"></a>
    </div>
    <div class="card mb-3">
        <a href="#"><img class="word" src="static/images/food.gif"></a>
    </div>
    <div class="card mb-3">
        <a href="{% url 'sport:sportrecord' %}"><img class="word" src="static/images/ti.png"></a>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/scripts/jquery-3.3.1.min.js"></script>
<script>
    $('img').hover(function(){
        $(this).fadeTo(500,0.3)
    },function(){
        $(this).fadeTo(500,1)
    })
</script>

{% endblock %}